In [ ]:
print ('스카이캐슬 보고싶어')

In [ ]:
a = 3 #int
b = 3.0 #float
c = '나는 문자다' #string

In [ ]:
lst=[1,2,3]
lst

In [ ]:
my_sum=0
for i in [1,2,3,4,5,6,7,8,9]:
    my_sum=i
my_sum

In [2]:
m

11

hon

In [16]:
a=[0,1,0,1,1,1,1,1,0,1,1,1,1,1,1,0,1,1,0,0,0,1,1,0,1]
print(len(a))
print(4*a.count(1))

25
68