In [1]:
n, m = 5, 9
# for i in range(1,m+1) :
#     for j in range(1,n+1) :
#         print('*',end="")                
#     print("")
print(("*"*n+'\n')*m)

*****
*****
*****
*****
*****
*****
*****
*****
*****

In [2]:
student = {'python' : 80, 'algorithm' : 99, 'django' : 89, 'flask':83}
sum = 0
for i in student.values() :
    sum += i
print(sum/len(student))

87.75

In [ ]:
blood_types= ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
a, b, o, ab = 0, 0, 0, 0
for i in blood_types:
    if(i=='A'):
        a+=1
    if(i=='B'):
        b+=1
    if(i=='O'):
        o+=1
    if(i=='AB'):
        ab+=1
print(f'A형 혈액형을 가진 학생의 수는 {a}명\nB형 혈액형을 가진 학생의 수는 {b}명\nO형 혈액형을 가진 학생의 수는 {o}명\nAB형 혈액형을 가진 학생의 수는 {ab}명\n입니다.')

In [ ]:
blood_types= ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
result = {}
for blood_type in blood_types :
    if blood_type in result:
        result[blood_type] += 1
    else :
        result[blood_type] = 1
print(result)

In [ ]:
import math
a = 0.1*3
b = 0.3

math.isclose(a,b)

In [ ]:
\n \t \\

In [ ]:
name = '철수'
print(f'안녕, {name}야')

In [ ]:
int('3.5')

In [ ]:
t=int(input())
n=5000

a = set([(3*i)+(5*j) for i in range((n//3)+1) for j in range((n//5)+1)])

if (t in a):
    five=t//5
    three=0
    if t % 5 == 1:
        three+=2 
        five=five-1
    if t % 5 == 2:
        three+=4
        five=five-2    
    if t % 5 == 3:
        three+=1 
    if t % 5 == 4:
        three+=3 
        five=five-1
    print(f'{three+five}')
else :
    print(-1)

In [ ]:
lsti=input()
lstc=['c','r','o','a','k']
c,r,o,a,k = 0,0,0,0,0
count=0    
if not lsti[0]!='c':
    count=-1
    
for i in lsti:
    if i in 'croak':
        if i == 'c':
            liti.replace('c','-')
            print(liti)
            c+=1
        if i == 'r':
            r+=1
        if i == 'o':
            o+=1    
        if i == 'a':
            a+=1
        if i == 'k':
            k+=1

In [4]:
str1=set(input())
str2=tuple(input())
result=[]
for i in str1:
    result.append(str2.count(i))
print(result)
lst1=list(map(lambda x:x[0]*x[1] ,zip([1, 2, 3], [4, 5, 6])))

swe
sweswewee
[3, 4, 2]

In [44]:
# zip과 sum을 이용 위아래 한번에 곱하기
a=sum(map(lambda x: x[0]*x[1],zip([1,2,3],[4,5,6])))
a

32

In [58]:
#zip함수를 이용한 리스트 회전 바로구현
lst=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
lst1=list(zip(*reversed(lst)))
lst2=list(zip(*reversed(lst1)))
lst3=list(zip(*reversed(lst2)))
print(f'{"".join(map(str,lst1[0]))} {"".join(map(str,lst2[0]))} {"".join(map(str,lst3[0]))}')

741 987 369

In [61]:
#이차원 리스트 바로생성
lst=[list(map(int,input().split())) for i in range(int(input()))]
lst

3
1 2 3
4 5 6
7 8 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [68]:
lst2=[1,2,3]
print (" ".join(map(str,lst2)))

1 2 3

In [ ]:
for tc in range(int(input())):
    v,l=0,0
    for i in range(int(input())):
        a,b=map(int,input().split())
        if a==1:
            v+=b
            l+=v
        elif a==2:
            if v>=b:
                v-=b
            else:
                v=0
            l+=v
        else :
            l+=v
    print(l)

3
2
1 2
2 1
3

In [5]:
try:
    a=list(map(int,input().split(',')))
    mul=1
    for i in a:
        mul=mul*i
    print(mul)
except ValueError:
    print('에러발생')

1,2,3
6