In [65]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
a = "hi! Everyone, i'm hoon"
a.capitalize()

"Hi! everyone, i'm hoon"

In [3]:
a.title()

"Hi! Everyone, I'M Hoon"

In [4]:
a.upper()

"HI! EVERYONE, I'M HOON"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [5]:
a.lower()

"hi! everyone, i'm hoon"

In [6]:
a.swapcase()

"HI! eVERYONE, I'M HOON"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [9]:
'!'.join('배고파')

'배!고!파'

In [12]:
'!'.join(a)

a = ['hi', 'hello']
''.join(a)

'hihello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [13]:
'yay!'.replace('y','_')

'_a_!'

In [16]:
s = 'wooooow'
print(s.replace('o','',2))
print(s)

wooow
wooooow

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백(개행문자 및 탭문자 포함)을 제거합니다.

In [19]:
'      oh!\n'.strip()

'oh!'

In [18]:
'      oh!\n'.lstrip()

'oh!\n'

In [17]:
'hihiahi'.rstrip('hi')

''

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [22]:
'apple'.find('p')
'apple'.find('pp')

1

In [21]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [23]:
'apple'.index('p')

1

In [24]:
'apple'.index('pp')

1

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [33]:
'a'.isalpha()

True

In [41]:
'²'.isdecimal()
'½'.isdecimal()

False

In [42]:
'²'.isdigit()
'½'.isdigit()

False

In [43]:
'²'.isnumeric()
'½'.isnumeric()

True

In [56]:
' '.isspace()

True

In [57]:
'PYTHON'.isupper()

True

In [44]:
'How Are You'.istitle()

True

In [38]:
'lowlow'.islower()

True

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [46]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [48]:
inputs = input().split()
print(inputs)

1 2 3
['1', '2', '3']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [59]:
# 리스트 하나를 만들어봅시다.
caffe =['starbucks', 'tomntoms', 'hollys']

In [60]:
# 값을 추가해봅시다.
caffe.append('caffebene')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [63]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe[len(caffe):])
print(caffe)

[]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [77]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['froptop', '빽다방'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방']

In [78]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['mccafe', 'burgerking']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방', 'mccafe', 'burgerking']

In [79]:
# append와 비교해봅시다.
caffe.append(['coffeenie'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie']]

In [80]:
caffe.extend('coffeegurunaru')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'c', 'o', 'f', 'f', 'e', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [81]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어주세요.
caffe.insert(0, 'hi')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'c', 'o', 'f', 'f', 'e', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

In [82]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어주세요.
caffe.insert(len(caffe), 'bye')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'c', 'o', 'f', 'f', 'e', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'bye']

In [83]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+5, '!')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'froptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'c', 'o', 'f', 'f', 'e', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'bye', '!']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [29]:
# 숫자로 구성된 리스트를 하나 만듭니다.
numbers = [1,2,3,1,2]
print(numbers)

[1, 2, 3, 1, 2]

In [30]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [32]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [33]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [34]:
# 숫자로 구성된 리스트를 하나 만듭니다.
a = [1, 2, 3, 4, 5, 6]

In [35]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(0)

1

In [36]:
print(a)

[2, 3, 4, 5, 6]

In [37]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
deleted_value = a.pop()
print(f'{deleted_value} 삭제됨! {a} 남았음!')

6 삭제됨! [2, 3, 4, 5] 남았음!

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [38]:
a = [1,2,3,4,5]
a.index(3)

2

In [39]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [44]:
a = [1,2,5,1,5,1]
a.count(1)

3

In [91]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
a = [1,2,1,3,4]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [92]:
# 모두 삭제되었는지 검증해봅시다.
target_value in a

False

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [48]:
import random
lotto = random.sample(range(1, 46), 6)
lotto.sort()
print(lotto)

[1, 18, 24, 31, 36, 42]

In [49]:
lotto.sort(reverse = True)
print(lotto)

[42, 36, 31, 24, 18, 1]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [51]:
classroom = ['Tom', 'David', 'Justin']
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [94]:
# 리스트 복사를 해봅시다.
original_list =[1,2,3]
copy_list = original_list
print(original_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [96]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 5
print(original_list)

[5, 2, 3]

In [104]:
print(id(copy_list) == id(original_list))
print(copy_list is original_list)

True
True

In [106]:
# 숫자를 확인해봅시다.
a=20005
b=a
b=30005
print(a)

20005

In [110]:
# 딕셔너리도 확인해봅시다.
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
print(lunch)
dinner = lunch
dinner['김밥천국'] = '참치김밥'
print(lunch)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}

In [66]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [67]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [68]:
a = [1,2,3]
b = a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [71]:
a = [1,2,3]
b = list(a)
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [70]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [72]:
a = [1,2,[1,2]]
b = a[:]
b[2][0] = 3
print(a)

[1, 2, [3, 2]]

In [73]:
IFrame('https://goo.gl/XJ6Fe5', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [75]:
import copy
a = [1,2,[1,2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a, b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [76]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제

리스트의 모든 항목을 삭제합니다.

In [85]:
numbers = list(range(1,46))
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [86]:
even_list = [x*2 for x in range(1,6)]
print(even_list)

[2, 4, 6, 8, 10]

In [88]:
cubuc_list = [y**3 for y in range(1, 11)]
print(cubuc_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
# 아래에 반복문을 활용하여 만들어주세요.

In [ ]:
# 아래에 List comprehension을 활용하여 만들어주세요.

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 아래에 반복문을 활용하여 만들어주세요.

In [ ]:
# 아래에 List comprehension을 활용하여 만들어주세요.

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# 아래에 List comprehension을 활용하여 만들어주세요.